.films {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #061c29;
  padding: 0 10%;
  grid-gap: 20px;
}

@media screen and (max-width: 1200px) {
  .films {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 976px) {
  .films {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
