.modal-container {
  display: flex;
  background: #0a2230;
  color: white;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  z-index: 3;
  height: 450px;
  width: 880px;
}

.modal-content {
  /* width: 680px !important; */
  padding: 35px;
  font-size: medium;
  font-weight: bolder;
  line-height: 22px;
  word-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.react-responsive-modal-modal.react-responsive-modal-modalCenter {
  background-color: #0a2230;
  padding: 0;
  width: 950px;
}

.react-responsive-modal-closeButton {
  background-color: red;
  position: absolute;
  right: -60px;
  outline: none;
  border: none;
}

.modal-image_img {
  width: 300px;
  height: 450px;
}
